.commonPage {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1110px;
  margin-inline: auto;
  justify-content: center;
}
.actions {
  padding: 15px 120px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.input {
  padding: 4px;
}
.text-center {
  text-align: centers;
}
.filter select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
